<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
<div id="add_new_pet">
<h1 id='newfont'>Add a new pet</h1>

<%= render 'form' %>

<%= link_to 'Back', pets_path %>

</div>
<footer id='footer'>
</footer>