@charset "utf-8";
/* Float Elements 
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.figure{ margin:0px;}

img{ max-width:100%;}

a, a:hover, a:active{ outline:0px !important}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Primary Styles
---------------------------------*/
body {
	background:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#888888;
	margin:0;
}
h2{
	font-size:34px;
	color:#222222;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	letter-spacing: -1px;
	margin:0 0 15px 0;
	text-align:center;
	text-transform:uppercase;
}
h3{
	font-family: 'Montserrat', sans-serif;
	color:#222222;
	font-size:16px;
	margin:0 0 5px 0;
	text-transform:uppercase;
	font-weight:400;
}
h6{
	font-size:16px;
	color:#888888;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	text-align:center;
	margin:0 0 60px 0;
}
p{
	line-height:24px;
	margin:0;
}

/* Header Styles
---------------------------------*/

.header{
	text-align:center;
	background:url('/pets.jpg');
	background-repeat: no-repeat;
	padding:280px 0;
}
.logo{
	width:130px;
	margin:0 auto 35px;
}
.header h1{
	font-family: 'Montserrat',sans-serif;
	font-size:50px;
	font-weight:400;
	letter-spacing: -1px;
	margin:0 0 22px 0 ;
	color:#40e0d0;
}

.we-create{
	padding:0;
	margin:35px 0 55px;
}
.wp-pic{
	margin-bottom:20px;
}
.we-create li{
	display:inline-block;
	font-family: 'Montserrat',sans-serif;
	font-size:14px;
	color: #bcbcbc;
	text-transform: uppercase;
	font-weight: 400;
	margin:0 5px 0 0;
	padding:0 0 0 15px;
}
.we-create li:first-child{
	background:none;
}

.start-button {
	padding-left: 0px;

}

.start-button li a{
color: #fff;
}


.link{
	padding:15px 35px;
	background:#7cc576;
	color:#fff !important;
	font-size:16px;
	font-weight:400;
	font-family: 'Montserrat', sans-serif;
	display:inline-block;
	border-radius:3px;
	text-transform:uppercase;
	line-height:25px;
	margin-bottom:20px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;

}

}
.link:hover {
	text-decoration:none;
	color:#7cc576 !important;
	background:#fff;
}

.link:active, .link:focus {
	background: #7cc576;
	text-decoration:none;
	color:#fff !important;
}

/* Navigation
---------------------------------*/
.main-nav-outer{
	padding:0px;
	border-bottom:1px solid #dddddd;
	box-shadow:0 4px 5px -3px #ececec;
	position:relative;
	background:#fff;
}
.main-nav{
	text-align:center;
	margin:10px 0 0px;
	padding:0;
	list-style:none;
}
.main-nav li{
	display:inline;
	margin:0 1px;
}
.main-nav li a{
	display:inline-block;
	color:#222222;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	line-height:20px;
	margin:17px 32px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.main-nav li a:hover{ 
	text-decoration:none;
	color: #7cc576;
}

.small-logo{ 
	padding:0 32px;
}

.main-section{
	padding:90px 0 110px;
}

}
img {
   max-width:100%;
}

/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.main-section.paddind{
	padding-bottom:60px;
}

}

.form{
	margin:0 66px 0 30px;
}
.input-text{
	padding:15px 16px;
	border:1px solid #ccc;
	width:100%;
	height:50px;
	display:block;
	border-radius:4px;
	font-size:15px;
	color:#aaa;
	font-family: 'Open Sans', sans-serif;
	margin:0 0 15px 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.input-text:focus {
	border: 1px solid #7cc576;
	outline:0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);	
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area{
	height:165px;
	resize:none;
	overflow:auto;
}
.input-btn{
	width:175px;
	height:50px;
	background:#7cc576;
	border-radius:4px;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	border:0px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.input-btn:hover{
	background: #111;
	color: #fff;
}
/* Animation Timers
---------------------------------*/
.delay-02s { 
	animation-delay: 0.2s; 
	-webkit-animation-delay: 0.2s; 
}
.delay-03s { 
	animation-delay: 0.3s; 
	-webkit-animation-delay: 0.3s; 
}
.delay-04s { 
	animation-delay: 0.4s; 
	-webkit-animation-delay: 0.4s; 
}

.delay-05s { 
	animation-delay: 0.5s; 
	-webkit-animation-delay: 0.5s; 
}
.delay-06s { 
	animation-delay: 0.6s; 
	-webkit-animation-delay: 0.6s; 
}

.delay-07s { 
	animation-delay: 0.7s; 
	-webkit-animation-delay: 0.7s; 
}
.delay-08s { 
	animation-delay: 0.8s; 
	-webkit-animation-delay: 0.8s; 
}

.delay-09s { 
	animation-delay: 0.9s; 
	-webkit-animation-delay: 0.9s; 
}
.delay-1s { 
	animation-delay: 1s; 
	-webkit-animation-delay: 1s; 
}
.delay-12s { 
	animation-delay: 1.2s; 
	-webkit-animation-delay: 1.2s; 
}

#signup{
  width: 550px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  /*vertical-align: top;*/
  display:inline-block;
  color:#222222;
}

#hsignup {
  margin: 0 0 30px 0;
  text-align: center;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,

select{
 
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  font-weight: 900;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: black;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

#signsub {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.signlabel {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

#testimonials{
	margin: 0px auto;
	float:left;
	margin-right:10px;
	display:inline-block;
	vertical-align: top;
	width:575px;
	height:1100px;
}
#custs{
	display: inline-block;
	width:550px;
}
#owner_signup{
	display:inline-block;
}

#sitter_signup{
	display:inline-block;
}
#ownercusts{
	display:block;
	width:550px;
}
#dogs{
	/*margin: 0px auto;*/
	margin-top:0px;
	margin-right:10px;
	display:inline-block;
	vertical-align: top;
	width:550px;
	height:1200px;
}
h1{
	font-size:66px;
	color:#222222;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	letter-spacing: -1px;
	margin:0 0 15px 0;
	text-transform:uppercase;

}
.links{
	padding:15px 85px;
	background:#0000ff;
	color:#fff !important;
	font-size:16px;
	font-weight:400;
	font-family: 'Montserrat', sans-serif;
	display:inline-block;
	border-radius:3px;
	text-transform:uppercase;
	line-height:25px;
	margin-bottom:20px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
#new_signup{
  width: 600px;
  margin: 100px 20px;
  padding: 10px 50px;
  background: #dbdedf;
  border-radius: 10px;
  /*vertical-align: top;*/
  display:inline-block;
  color:#222222;
}
#doggie{
	width:700px;
}
#signsubs {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: blue;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid blue;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}
#signsubsit {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #7cc576;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #7cc576;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}
#edit_form{
  width: 600px;
  margin: 10px 20px;
  padding: 10px 50px;
  background: #dbdedf;
  border-radius: 10px;
  /*vertical-align: top;*/
  display:inline-block;
  color:#222222;
}

#delete_but {
	padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: red;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 550px;
  border: 1px solid red;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  margin-left:100px;
}

#delete_btn_sitter{
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: red;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 10px;
  width: 525px;
  border: 1px solid red;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  margin-left:25px;
}
#edit_pet{
	margin-left:100px;

}
#back_sub{
  padding: 10px 29px 8px 29px;
  color: #FFF;
  background-color: blue;
  font-size: 14px;
  text-align: center;
  font-style: normal;
  border-radius: 8px;
  width: 50px;
  border: 1px solid blue;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}
#back_sub_two{
  padding: 10px 29px 8px 29px;
  color: #FFF;
  background-color: blue;
  font-size: 14px;
  text-align: center;
  font-style: normal;
  border-radius: 8px;
  width: 50px;
  border: 1px solid blue;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-top: 40px;
}
#propose_form{
  width: 900px;
  margin: 0px 20px 5px 25px;
  padding: 10px 50px;
  background: #293e6a;
  border-radius: 10px;
  /*vertical-align: top;*/
  display:inline-block;
  color:white;
}
#prop_sub{
    width: 100%;
    height: 50px;
    background-color: white;
    border: solid white   2px;
    border-radius: 10px;
    padding: 14px 25px;
    font-family: Arial;
    font-size: 18px;
    color: #e69500  ;
}
#newfont{
	padding-top:0px;
	display:block;
  font: 400 50px/1.3 'Oleo Script', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
#newfont_two{
padding-top:0px;
display:block;
font: 400 25px/1.3 'Oleo Script', Helvetica, sans-serif;
color: #2b2b2b;
text-shadow: 4px 4px 0px rgba(0,0,0,0.1);

}
#hire_sub{
  padding: 10px 29px 8px 29px;
  color: #FFF;
  background-color: green;
  font-size: 14px;
  text-align: center;
  font-style: normal;
  border-radius: 8px;
  width: 200;
  border: 1px solid green;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}
#addpet{
	display:inline-block;
	font: 100 20px/1.3 'Oleo Script', Helvetica, sans-serif;
  color: blue;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
#owner_show{
	padding:10px;
}
#prop_head{
	font-size:30px;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	letter-spacing: -1px;
	margin:0 0 15px 0;
	text-align:center;
	text-transform:uppercase;
}
#navi{
	display:inline-block;
	margin-bottom:0px;
}
#navigation{
	vertical-align: top;
	display:inline-block;
}
#owner_cont{
	display:inline-block;
}
.other_cont{
	margin-left:445px;
	margin-top:5px;
	border: 1px solid black;
	height:120px;
	width:1000px;
	overflow:auto;
}
#for_sub{
	display:inline-block;
	width:175px;
	margin-left:5px;
}
#start{
	margin-left: 125px;
	display:inline-block;
}
#end{
	display:inline-block;
}
.field{
	width:200px;

}
.select{
	width:225px;
}
#add_new_pet{
	padding:5px;
	font: 100 25px/1.3 'Oleo Script', Helvetica, sans-serif;
  color: black;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
#footer{
	background-image: url('/petties.jpg');
}
.list_list{
	display:inline-block;
	margin-left:100px;
	margin-bottom:0px;
}
.list_log{
	display:inline-block;
}
#log_sub{
	padding: 10px 29px 8px 29px;
  color: #FFF;
  background-color: red;
  font-size: 14px;
  text-align: center;
  font-style: normal;
  border-radius: 8px;
  width: 200;
  border: 1px solid red;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  margin-left:200px;
}
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #000080;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

#sitter_show{
	padding:25px;
	height:1200px;
	background-image: url('/sheperds.jpg');
	background-repeat:no-repeat;
	background-position: 600px 910px;
}

#accepted_form{
  width: 920px;
  height: 300px;
  margin: 5px 20px 5px 25px;
  padding: 10px 50px;
  background: #293e6a;
  border-radius: 10px;
  /*vertical-align: top;*/
  display:inline-block;
  color:white;
  overflow: scroll;
}
table {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  width:100%;
}

caption {
  text-align: left;
  color: silver;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

thead {
  background: SteelBlue;
  color: white;
}

th,
td {
  padding: 5px 10px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background: WhiteSmoke;
}

tbody tr td:nth-child(2) {
  text-align:center;
}

tbody tr td:nth-child(3),
tbody tr td:nth-child(4) {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

tfoot {
  background: SeaGreen;
  color: white;
  text-align: right;
}

tfoot tr th:last-child {
  font-family: monospace;
}
#acc_sub{
    width: 100%;
    height: 50px;
    background-color: white;
    border: solid #4CAF50  2px;
    border-radius: 10px;
    padding: 14px 25px;
    font-family: Arial;
    font-size: 18px;
    color: #4CAF50 ;
}

#acc_sub {
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
}

#acc_sub:hover {
   background-color: #4CAF50 ; /* Green */
   color: white;
   font-color: white;
}
#prop_sub{
	 -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
}
#prop_sub:hover {
   background-color: #e69500  ; /* Green */
   color: white;
   font-color: white;
}
#dash_wrap{
	height:1200px;
	background-image: url('/lil_dogs.jpg');
	background-repeat:no-repeat;
	background-position: 650px 600px;
}
.cr_pet{
	width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-bottom:10px;
    background-color: white;
    border: solid #4CAF50  2px;
    border-radius: 10px;
    padding: 14px 25px;
    font-family: Arial;
    font-size: 18px;
    color: #4CAF50 ;
    -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
}
.cr_pet:hover{
	background-color: #4CAF50  ; /* Green */
   color: white;
   font-color: white;

}
#choose{
	color:blue;
}
#add_new_pet{
	height:1000px;
	padding:25px;
	background-image:url('/rabbits.jpg');
	background-repeat: no-repeat;
}
#pet_tab{
	  font-family: "Helvetica Neue", Helvetica, sans-serif;
  		width:600px;
}
#pet_head{
	background: #293e6a;
  	color: white;
}
#pets_page{
	padding:15px;
}
#rem_pet{
	    width: 100%;
    height: 50px;
    background-color: white;
    border: solid #b30000  2px;
    border-radius: 10px;
    padding: 14px 25px;
    font-family: Arial;
    font-size: 18px;
    color: #b30000 ;
    -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
}
#rem_pet:hover{
	background-color: #b30000 ; /* Green */
   color: white;
   font-color: white;
}
#own_edit_form{
	width: 425px;
  margin: 0px 20px 5px 25px;
  padding:25px;
  background: #293e6a;
  border-radius: 10px;
  /*vertical-align: top;*/
  display:inline-block;
  color:white;
}
.edit_form_input{
	width:380px;
	height:100px;

}
.edit_form_input_two{
	width:450px;
	height:100px;

}
#up_but{
		    width: 100%;
    height: 50px;
    background-color: white;
    border: solid #e69500  2px;
    border-radius: 10px;
    padding: 14px 25px;
    font-family: Arial;
    font-size: 18px;
    color: #e69500 ;
    -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
}
#up_but:hover{
	background-color: #e69500 ; /* Green */
   color: white;
   font-color: white;
}
#edit_background{
	background-image: url('/cat_dog_cat.jpg');
	background-repeat: no-repeat;
	background-position: 130px ;
}
#propose_form_two{
  overflow: scroll;
  width: 900px;
  height: 250px;
  margin: 0px 20px 5px 25px;
  padding: 10px 50px;
  background: #293e6a;
  border-radius: 10px;
  /*vertical-align: top;*/
  display:inline-block;
  color:white;
}
#sitter_edit_form{
	width: 475px;
  margin: 0px 20px 5px 25px;
  padding:25px;
  background: #293e6a;
  border-radius: 10px;
  /*vertical-align: top;*/
  display:inline-block;
  color:white;
}


@media screen and (min-width: 480px) 



